body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  background: url("logo.svg");
  width: 33px;
  height: 33px;
  /*background: rgba(0, 0, 0, 0.2);*/
  margin: 18px 10px 16px 10px;
  float: left;
}

.ant-table.ant-table-middle .ant-table-title, .ant-table.ant-table-middle .ant-table-footer, .ant-table.ant-table-middle thead > tr > th, .ant-table.ant-table-middle tbody > tr > td {
  padding: 1px 8px !important;
}

/*https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100*/
html, body {
  margin: 0;
  height: 100%;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.bot-row {
  background: rgb(249,198,205);
}

.hovered-row {
  background: rgb(232,247,255);
}
