body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100*/
html, body {
  margin: 0;
  height: 100%;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/*.react-bootstrap-table {*/
/*  display: block;*/
/*  width: 100%;*/
/*  overflow-x: auto;*/
/*  -webkit-overflow-scrolling: touch*/
/*}*/
.react-bootstrap-table table {
  table-layout: auto !important
}
.table th,
.table td {
  white-space: nowrap
}
